{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
<main id="main">
    <div class="formwrapper">
        <h1 class="title">{{ title.upper() }}</h1>
        <p>
        {% set mode = title.upper() %}
        {% if mode == 'LOGIN' %}
            Enter your credentials to access your account.
        {% elif mode == 'REGISTER' %}
            Create an account to save favourites and post reviews!
        {% else %}
            Enter your credentials.
        {% endif %}
        </p>
        <form method="POST" action="{{ handler_url }}">
             {{ form.csrf_token }} <!-- Need to include this token - Flask WTForms requires it. -->
            <div class="form-field">{{ form.user_name.label }} {{ form.user_name(required=True) }}
                {% if form.user_name.errors or user_name_error_message is not none %}
                    <ul class="errors">
                        {% if user_name_error_message is not none %}
                            <li>
                                {{ user_name_error_message }}
                            </li>
                        {% endif %}
                        {% for error in form.user_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-field">{{ form.password.label }} {{ form.password(required=True) }}
                {% if form.password.errors or password_error_message is not none %}
                    <ul class="errors">
                        {% if password_error_message is not none %}
                            <li>
                                {{ password_error_message }}
                            </li>
                        {% endif %}
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {{ form.submit }}
        </form>
    </div>
</main>
{% endblock %}