* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

nav {
    background-color: #D3DCCF;
    height: 75px;
    display: flex;
    align-items: center;
    gap: 75px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

nav img {
    width: 45px;
    height: 45px;
    margin-left: 30px;
}

h2 {
    font-size: 60px;
    margin-top: 55px;
}

.heading-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
