@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

nav {
    background-color: #D3DCCF;
    height: 75px;
    display: flex;
    align-items: center;
    gap: 75px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

nav img {
    width: 45px;
    height: 45px;
    margin-left: 30px;
}

h1 {
    text-align: left;
    font-size: 33.667px;
    letter-spacing: 1px;
}
p {
    font-size: 20px;
    padding-top: 30px;
    width: 90.0%;
    padding-bottom: 50px;
}
.header {
    text-align: left ;
    width: 45.0%;
    margin: 20px;
    padding-top: 20px;
    padding-left: 30px;
}

.plates img {
    position: fixed;
    top: -50px;
    left: 520px;
    height: 900px;
    width:  80%;
    object-fit: contain;
    z-index: -1;
    scale: 90%;
}

.feat-recipes {
    text-align: left ;
    width: 50.0%;
    margin: 20px;
    padding-top: 15px;
    padding-left: 30px;
}

.feat-recipes h1 {
    font-size: 31px;
}

.flex-box {
    padding-top: 20px;
    display: flex;
    gap: 35px;
    align-items: flex-start;
    /*flex-wrap: wrap;*/
    flex-direction: row;

}

.flex-box > div {
    outline: 5px solid #9C1A1C;
    width: 270px;
    height: 150px;
}
.flex-box img {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 16/9;
}
.flex-box p {
    font-size: 12px;
    padding-top: 10px;
    width: 90.0%;
    padding-bottom: 50px;
}

footer {
    margin-top: 160px;
    margin-left: 50px;
}

/* BROWSE RECIPE PAGE */

.heading-cont {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
}

.heading-cont h2 {
    font-size: 65px;
    margin-bottom: 10px;
}

.heading-cont p {
    font-size: 18px;
    margin: 0;
    width: auto;
    padding: 0;
}

.recipes-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 100px auto;
    max-width: 960px;
    margin-bottom: 70px;
}

.browse-card {
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    flex: 0 0 calc(33.333% - 20px);
    width: 300px;
    height: 320px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.browse-card:hover {
    transform: scale(1.05);
    background-color: #f9f9f9;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.browse-card-cont {
    width: 280px;
    height: 240px;
    object-fit: contain;
}

.browse-card img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}

.browse-card h1 {
    font-size: 15px;
    text-align: center;
    display: inline-block;
    width: 100%;
    line-height: 1.2em;
    margin: 5px 0;
}

.browse-card p {
    font-size: 10px;
    padding: 0;
    line-height: 1.2em;
    max-height: 2.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* PAGINATION */
.pagination {
    text-align: center;
    margin: 30px 0;
     margin-bottom: 100px;
}

.pagination a {
    margin: 0 12px;
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 6px;
    color: #000;
    font-weight: 500;
    transition: background 0.2s;
}

.pagination a:hover {
    background: #000;
    color: #fff;
}
