@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

nav {
    background-color: #D3DCCF;
    height: 75px;
    display: flex;
    align-items: center;
    gap: 75px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

nav img {
    width: 45px;
    height: 45px;
    margin-left: 30px;
}

h1 {
    text-align: left;
    font-size: 33.667px;
    letter-spacing: 1px;
}
p {
    font-size: 20px;
    padding-top: 30px;
    width: 90.0%;
    padding-bottom: 50px;
}
.header {
    text-align: left ;
    width: 45.0%;
    margin: 20px;
    padding-top: 20px;
    padding-left: 30px;
}

.plates img {
    position: fixed;
    top: -50px;
    left: 520px;
    height: 900px;
    width:  80%;
    object-fit: contain;
    z-index: -1;
    scale: 90%;
}

.feat-recipes {
    text-align: left ;
    width: 50.0%;
    margin: 20px;
    padding-top: 15px;
    padding-left: 30px;
}

.feat-recipes h1 {
    font-size: 31px;
}

.flex-box {
    padding-top: 20px;
    display: flex;
    gap: 35px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-box > div {
    outline: 5px solid #9C1A1C;
    width: 270px;
    height: 150px;
}
.flex-box img {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 16/9;
}
.flex-box p {
    font-size: 12px;
    padding-top: 10px;
    width: 90.0%;
    padding-bottom: 50px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%
}
footer p {
    font-size: 17px;
    padding-left: 50px;
}