<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Description</title>
    <link
      rel="stylesheet" href="../static/css/main.css"
    />
</head>
<body>

    {% include 'navbar.html' %}

<main>
    <div class="header">
        <h1>WELCOME TO OUR RECIPE PORTAL!</h1>
        <p>This is an interactive space, designed to help you
            explore and browse recipes with ease. Whether you’re
            here to browse dishes, check nutrition details, or leave reviews,
            our platform makes cooking inspiration just a click away.
        </p>
    </div>
    <div class="feat-recipes">
        <h1>FEATURED RECIPES</h1>
        <div class="flex-box">
            <div>
                <img src="https://cdn.nba.com/headshots/nba/latest/1040x760/2544.png" alt="Recipe1">
            </div>
            <div>Item 2</div>
        </div>
    </div>

</main>
</body>
</html>