<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Description</title>
    <link
      rel="stylesheet" href="../static/css/main.css"
    />
</head>
<body>

    {% include 'navbar.html' %}

<main>
    <div class="header">
        <h1>WELCOME TO OUR RECIPE PORTAL!</h1>
        <p>This is an interactive space, designed to help you
            explore and browse recipes with ease. Whether you’re
            here to browse dishes, check nutrition details, or leave reviews,
            our platform makes cooking inspiration just a click away.
        </p>
    </div>
    <div class="plates">
        <img src="../static/assets/235plates3.png" alt="plates image">
    </div>

    <!-- Featured recipe section-->

    <div class="feat-recipes">
        <h1>FEATURED RECIPES</h1>
        <div class="flex-box">
            <div>
                <img src="https://img.sndimg.com/food/image/upload/w_555,h_416,c_fit,fl_progressive,q_95/v1/img/recipes/54/picQ2X4D8.jpg" alt="Recipe 1">
                <h2>
                    Carrot Cake
                </h2>
                <p>
                    This is one of the few recipes my husband every requested from a coworker and brought home
                    for me to make.
                </p>
            </div>
            <div>
                <img src="https://img.sndimg.com/food/image/upload/w_555,h_416,c_fit,fl_progressive,q_95/v1/img/recipes/74/kZ2yXx22RimC8sHBAlFa_image.jpg" alt="Recipe2">
                <h2>Brownie Cheesecake Torte</h2>
                <p>
                    Make and share this Brownie Cheesecake Torte recipe from Food.com.
                </p>
            </div>
        </div>
    </div>
</main>
<footer>
    Thanks for visiting our recipe portal website!
</footer>
</body>
</html>