<nav>
    <div class="nav-left">
        <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="noodles-logo">
        <a href="{{ url_for('home_bp.home') }}"
            class="{% if request.endpoint == 'home_bp.home' %}active{% endif %}">HOME</a>
        <a href="{{ url_for('browse_bp.browse') }}"
            class="{% if request.endpoint == 'browse_bp.browse' %}active{% endif %}">BROWSE</a>
        {% if session.get('user_name') %}
        <a href="{{ url_for('browse_bp.favourites') }}"
            class="{% if request.endpoint == 'browse_bp.favourites' %}active{% endif %}">FAVOURITES</a>
        {% endif %}
    </div>

    <div class="nav-center">
        <span class="nav-id">Aleck Shen • William Tay • Omar Youssef</span>
    </div>

    <div class="nav-right">
        {% if session.get('user_name') %}
            <a href="{{ url_for('authentication_bp.logout') }}"
               class="{% if request.endpoint == 'authentication_bp.logout' %}active{% endif %}">LOGOUT</a>
        {% else %}
            <a href="{{ url_for('authentication_bp.login') }}"
               class="{% if request.endpoint == 'authentication_bp.login' %}active{% endif %}">LOGIN</a>

            <a href="{{ url_for('authentication_bp.register') }}"
               class="{% if request.endpoint == 'authentication_bp.register' %}active{% endif %}">REGISTER</a>
        {% endif %}
    </div>
</nav>