<nav>
    <div class="nav-left">
        <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="noodles-logo">
        <a href="{{ url_for('home_bp.home') }}">HOME</a>
        <a href="{{ url_for('browse_bp.browse') }}">BROWSE</a>
        {% if session.get('user_name') %}
            <a href="{{ url_for('browse_bp.favourites') }}">FAVOURITES</a>
        {% endif %}
    </div>

    <div class="nav-center">
        <span class="nav-id">shae628-wtay241-oyou366</span>
    </div>

    <div class="nav-right">
        {% if session.get('user_name') %}
            <a href="{{ url_for('authentication_bp.logout') }}">LOGOUT</a>
        {% else %}
            <a href="{{ url_for('authentication_bp.login') }}">LOGIN</a>
            <a href="{{ url_for('authentication_bp.register') }}">REGISTER</a>
        {% endif %}
    </div>
</nav>